/* Style idea: https://codepen.io/ig_design/pen/KKVQpVP */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #1f2029;
    color:#c4c3ca;
    padding: 20px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.card {
    border-radius: 5px;
    background-color: #282935;
    min-width: 200px;
    max-width: max-content;
    height: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.card:hover {
    box-shadow: inset 0px 0px 15px 5px rgb(255 235 167 / 20%);
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
}

.card div {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.book-title {
    margin-bottom: 20px;
}

#new-book-button {
    position: absolute;
    top: 90vh;
    bottom: 10vh;
    left: 80vw;
    right: 20vw;
    width: 100px;
    height: 50px;
    border: 0;
    border-radius: 4px;
    background-color: #ffeba7;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #102770;
    box-shadow: 0 8px 24px 0 rgb(255 235 167 / 20%);
}

#new-book-button:hover, .submit-button:hover {
    background-color: #102770;
    color: #ffeba7;
    box-shadow: none;
    cursor: pointer;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
}

form {
    position: absolute;
    border-radius: 5px;
    border: solid #ffeba7;
    background-color: #282935;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 100px;
    width: 400px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    gap: 10px;
}

input {
    width: 75%;
    height: 48px;
    background-color: #1f2029;
    border: 0;
    padding: 13px 20px;
    color: #c4c3ca;
}

input:focus {
    box-shadow: inset 0px 0px 15px 5px rgb(255 235 167 / 20%);
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
}

.form-title {
    font-weight: 600;
    font-size: 1.5rem;
    margin-top: 40px;
    margin-bottom: 30px;
}

.submit-button {
    background-color: #ffeba7;
    font-weight: 600;
    color: #102770;
    width: 100px;
    height: 50px;
    margin-top: 20px;
    box-shadow: 0 8px 24px 0 rgb(255 235 167 / 20%);
}

